@model List<Instructore>
@{
    ViewData["Title"] = "Index";
}

<h1>Instructor</h1>
<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Image</th>
        <th>Salary</th>
        <th>Address</th>
        <th>Courses</th>
        <th>Department</th>
        <th>Edit</th>
        <th>Detailes</th>
        <th>Delete</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <th>@item.id</th>
            <th>@item.Name</th>
            <th>@item.Image</th>
            <th>@item.Salary</th>
            <th>@item.Address</th>
            <th>@item.FkCourse.Name</th>
            <th>@item.FkDepartment.Name</th>
            <th><a href="/Instructore/Edit/@item.id">Edit</a></th>
            <th><a href="/Instructore/Detailes/@item.id">Detailes</a></th>
            <th><a href="/Instructore/Delete/@item.id">Delete</a></th>

        </tr>
    }
    
</table>

<a href="/Instructore/Create">Add New</a>