@model List<Trainee>
@{
    ViewData["Title"] = "Index";
}

<h1>Trainee</h1>

<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Image</th>
        <th>Grade</th>
        <th>Address</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <th>@item.Name</th>
            <th>@item.Image</th>
            <th>@item.Grade</th>
            <th>@item.Address</th>
        </tr>
    }
</table>